
body {
  background-image: url("../cookiecutterbackground.jpg");
  background-size: 100vw;
}

 h2, .navwords, h3, ul, li, p {
  color: salmon;
  text-align: center;
}

h1 {
  color: white;
  font-size: 100px;
}

h2 {
  font-size: 40px;
}
.navWords {
  font-family: 'Reenie Beanie', cursive;
}

#bodyFont {
  font-family: 'Loved by the King', cursive;
}

h3 {
  font-size: 40px;
}

table {
  border: 2px solid salmon;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

td {
  font-style: bold;
}

tr {
  text-align: center;
}

td, legend, button{
  padding-right: 10px;
  border: 2px dotted salmon;
  color: white;
  text-align: center;
}

.fillTheForm {
  color: white;
}