

body {
  background-image: url("../images/cookiecutterbackground.jpg");
  background-size: 100vw;
}

 h2, .navwords, h3, ul, li, p {
  color: #FFD5E3;
  text-align: center;
}

h1 {
  color: white;
  font-size: 6.5em;
}

h2 {
  font-size: 6em;
}
.navWords {
  font-family: 'Reenie Beanie', cursive;
}

#bodyFont {
  font-family: 'Loved by the King', cursive;
}

h3 {
  font-size: 3em;
  color: #79D9FF;
}
ul, p {
  font-size: 2em;
}
